@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 6.25%;
}

.menu {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  padding: 20rem;
}

.intro {
  display: flex;
  background-image: url(../img/bowl-and-pet.png);
  height: 409px;
  justify-content: center;
  align-items: center;
}

.comederos {
  color: #3c2313;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

div.comederos h2 {
  font-size: 25rem;
  background-color: white;
  font-weight: lighter;
  padding: 10rem;
  padding-left: 35rem;
  padding-right: 35rem;
  border-radius: 10rem;
}

div.comederos p {
  font-size: 16rem;
  align-self: flex-end;
}

div.comederos button {
  background-color: #f0a83e;
  padding: 10rem;
  font-size: 16rem;
  color: white;
  border: 0rem;
  border-radius: 5rem;
  width: 140rem;
  align-self: flex-end;
}
