@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 20px;
  font-size: 10px;
}

.ofertas {
  margin: 70px;
}

.pais {
  display: flex;
  margin: 50px;
  justify-content: space-between;
  width: 80px;
}

.menu {
  background-color: #f0a83e;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 30px;
}

.menus {
  display: flex;
}
div.menu div {
  display: flex;
  margin: 20px;
  color: white;
  font-size: 13px;
}

.intro {
  background-image: url(../img/bowl-and-pet.png);
  display: flex;
  height: 671px;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  align-items: center;
}
.comederos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 100px;
}

div.comederos h2 {
  background-color: white;
  padding: 10px;
  color: #3c2313;
  font-size: 40px;
  border-radius: 10px;
}

div.comederos p {
  color: #3c2313;
  font-size: 20px;
}

div.comederos button {
  background-color: orange;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 15px 25px;
}

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pata {
  height: 71px;
  width: 67px;
}

div.general h1 {
  color: #3c2313;
  font-weight: 700;
  font-size: 50px;
}

div.general p {
  color: #666666;
  font-size: 20px;
}
