@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.header {
  align-items: center;
  background-color: #222222;
  color: white;
  display: flex;
  font-size: 10px;
  height: 20px;
  justify-content: space-between;
}

.ofertas {
  margin: 70px;
}

.pais {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  width: 80px;
}

.menu {
  align-items: center;
  background-color: #f0a83e;
  display: flex;
  height: 62px;
  justify-content: space-between;
}

.logo {
  margin: 30px;
}

.menus {
  display: flex;
}
div.menu div {
  color: white;
  display: flex;
  font-size: 13px;
  margin: 20px;
}

.intro {
  align-items: center;
  background-image: url(../img/bowl-and-pet.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 671px;
  justify-content: flex-end;
}
.comederos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 100px;
}

div.comederos h2 {
  background-color: white;
  border-radius: 10px;
  color: #3c2313;
  font-size: 40px;
  padding: 10px;
}

div.comederos p {
  color: #3c2313;
  font-size: 20px;
}

div.comederos button {
  background-color: orange;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 15px 25px;
}

.general {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pata {
  height: 71px;
  width: 67px;
}

div.general h1 {
  color: #3c2313;
  font-size: 50px;
  font-weight: 700;
}

div.general p {
  color: #666666;
  font-size: 20px;
}

.productos {
  display: flex;
  justify-content: center;
}

.box {
  align-items: center;
  color: #3c2313;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  height: 312px;
  justify-content: flex-end;
  margin: 20px;
  width: 265px;
  padding-bottom: 10px;
}

.tipo1 {
  background-image: url(../img/churrasquito.png);
}

.tipo2 {
  background-image: url(../img/comedero.png);
}

.tipo3 {
  background-image: url(../img/Huesito.png);
}

.precio {
  color: #f0a83e;
}

.contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactanos form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactanos h3 {
  color: #3c2313;
  font-weight: 700;
  font-size: 30px;
}

input,
select {
  align-items: center;
  background-color: #3c2313;
  border-radius: 50px;
  color: white;
  display: flex;
  font-size: 8px;
  font-weight: 400;
  height: 40px;
  margin: 10px;
  padding-left: 20px;
  width: 340px;
  border: none;
}

textarea {
  resize: none;
}

.botones {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

#reset {
  background-color: #8a8787;
  border-radius: 15px;
  border: 0px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  margin: 5px;
  width: 110px;
}

#send {
  background-color: #f0a83e;
  border-radius: 15px;
  border: 0px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  margin: 5px;
  width: 110px;
}

.sub {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
}

.novedades {
  align-items: center;
  display: flex;
}

div.novedades h3 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  width: 100%;
}

div.novedades img {
  margin: 10px;
  margin-left: 10px;
}

.subbutton {
  align-items: center;
  display: flex;
}

div.subbutton p {
  align-items: center;
  background-color: white;
  border-radius: 13px;
  color: #a0a0a0;
  display: flex;
  font-size: 9px;
  font-weight: 400;
  height: 40px;
  margin: 5px;
  padding-left: 15px;
  width: 270px;
}

div.subbutton button {
  background-color: #3c2313;
  border-radius: 15px;
  border: 0px;
  color: white;
  font-size: 9px;
  font-weight: 700;
  height: 34px;
  margin-right: 40px;
  width: 70px;
}

.footer {
  align-items: center;
  background-color: #3c2313;
  display: flex;
  justify-content: space-between;
}

.contacto {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.icon {
  margin: 15px;
}

.iconos {
  display: flex;
  flex-direction: column;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 20px;
  position: relative;
}

div.texto p {
  color: #8a8787;
  font-size: 10px;
  font-weight: 700;
}

div.texto h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#logopet {
  height: 23px;
  margin-right: 90px;
  width: auto;
}

.derechos {
  background-color: #222222;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  justify-content: center;
}

div.derechos p {
  margin: 5px;
}
