@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.descuentos {
  display: block;
  background-color: #1cd1b0;
  height: 38px;
  width: 100%;
  position: fixed;
  z-index: 110;
}

.header {
  height: 101px;
  width: 100%;
  background-color: #00669f;
  position: fixed;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  z-index: 100;
  margin-top: 38px;
}
h1 {
  padding: 28px 0 26px 28px;
}
.descuento {
  padding: 10px 0 10px 10px;
}

main {
  background-color: green;
}

.caja1 {
  width: 300px;
  height: 530px;
  background-color: #f3f3f3;
  margin-top: 250px;
  position: absolute;
  left: 300px;
  border-radius: 50px;
}

.caja2 {
  width: 300px;
  height: 530px;
  background-color: #f3f3f3;
  margin-top: 250px;
  position: absolute;
  border-radius: 50px;
  left: 1300px;
}

.caja3 {
  width: 300px;
  height: 530px;
  background-color: #f3f3f3;
  margin-top: 250px;
  position: absolute;
  border-radius: 50px;
  left: 800px;
}

.fotoperfil {
  border-radius: 100px;
  position: relative;
  left: 90px;
  bottom: 70px;
}

.corazon {
  position: relative;
  bottom: 270px;
  right: 105px;
}

h2 {
  text-align: center;
}

.presentacion {
  margin: 15px;
  position: relative;
  bottom: 70px;
}

button {
  background-color: #00669f;
  color: white;
  width: 130px;
  height: 50px;
  position: relative;
  left: 70px;
  top: 30px;
}

.final {
  background-color: #00669f;
  color: white;
  position: absolute;
  bottom: 0;
  height: 51px;
  width: 100%;
}
div.final p {
  padding: 16px 0px 16px 16px;
}
