* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#batman {
  text-align: center;
  background-color: #e6e6e6;
  line-height: 200%;
}
h1 {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 10px;
  font-feature-settings: "cpsp" on;
  text-align: center;
  color: #005677;
  background-color: #c4c4c4;
}

h2 {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 3px;
  font-feature-settings: "cpsp" on;
  text-align: left;
  color: #005677;
  background-color: #c4c4c4;
}
.negrita {
  font-weight: bold;
}
.cursiva {
  font-style: italic;
}
p {
  line-height: 25px;
  margin: 6px 0;
}

.final {
  background-color: #005677;
  text-align: center;
  color: white;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.icono {
  margin: 0 0.5rem;
}

.puntos {
  margin: 1.4rem;
}
