@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #222222;
  height: 100px;
  display: flex;
  padding: 15px;
  color: white;
  justify-content: space-between;
  align-items: center;
  word-spacing: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

main {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: rgb(248, 248, 248);
  font-weight: 700;
}

.delivery {
  background-image: url("../img/delivery.png");
  border-radius: 5px;
  width: 490px;
  height: 350px;
  padding: 20px;
  color: red;
  font-size: 16px;
}

.podio {
  background-image: url("../img/PizzaFalling.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 490px;
  height: 350px;
  padding: 25px 30px 50px;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulop {
  align-self: center;
  font-size: 24px;
}

span {
  color: white;
}

ol {
  color: black;
  font-size: 20px;
  line-height: 50px;
}

li {
  font-size: 16px;
  line-height: 30px;
}
